<template>
  <div class="row bg-light p-5" style="height: 75vh">
    <div class="col-lg-6 m-auto">
      <h3 class="text-center">Login</h3>

      <div class="form-group mb-3 mt-3">
        <label for="phone">Phone Number</label>
        <input
          required
          class="form-control"
          id="phone"
          type="text"
          pattern="\d*"
          maxlength="11"
          minlength="11"
          placeholder="Enter Phone"
          v-model="phone"
        />
      </div>
      <div class="form-group mb-3 mt-3">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          required
          id="exampleInputPassword1"
          placeholder="Password"
          v-model="password"
        />
      </div>
      <button type="submit" class="btn btn-dark" @click="login">Login</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Auth",
  data() {
    return {
      phone: "",
      password: "",
    };
  },
  components: {},
  methods: {
    login() {
      this.$store
        .dispatch("login", {
          phone: this.phone,
          password: this.password,
        })
        .then(() => {
          this.$router.push("/");
        });
    },
  },
};
</script>
<style scoped></style>
