<template>
  <div class="home">
    <!-- slider -->
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://digitalgym.org/wp-content/uploads/sites/3/2018/11/black-panther-web-banner.jpg"
            height="650px"
            class="d-block w-100"
            alt="movie-1"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://www.teahub.io/photos/full/67-670663_hollywood-movie-poster-hd.jpg"
            height="650px"
            class="d-block w-100"
            alt="movie-2"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://wallpaper.dog/large/10915475.jpg"
            height="650px"
            class="d-block w-100"
            alt="movie-2"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- slider -->

    <!-- movies -->
    <div class="row col-lg-12 mt-5 mb-5 justify-content-center">
      <movie v-for="(item, i) in movies" :key="i" :data="item"></movie>
    </div>
    <!-- movies -->
  </div>
</template>

<script>
import movie from "@/components/movie.vue";
export default {
  name: "Home",
  data() {
    return {
      movies: [],
    };
  },
  components: {
    movie,
  },
  mounted() {
    this.$store.dispatch("getMoviesReq").then((res) => {
      this.movies = res;
    });
  },
};
</script>
<style scoped>
.carousel-item {
  background-color: #000;
}
.carousel-item img {
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}
</style>
