<template>
  <div class="custom-list bg-light">
    <div class="list-group">
      <div
        v-for="(movie, i) in movies"
        :key="i"
        class="list-group-item list-group-item-action"
        aria-current="true"
      >
        <div class="d-flex align-items-center w-100 mb-3">
          <img class="img-thumbnail" :src="movie.cover" width="100px" />
          <h5 class="mb-1">{{ movie.title }}</h5>
        </div>
        <!-- seats -->
        <b>Seats:</b>
        <div class="d-flex flex-wrap mt-3">
          <div
            v-for="index in 20"
            :key="index"
            class="d-flex align-items-center ms-2"
            style="width: 230px"
          >
            <img
              src="/images/comfortable-chair.png"
              width="30px"
              height="30px"
            />
            <span>Seat Number {{ index }}: &ensp;</span>
            <span v-if="isReserved(movie.id, index)" class="text-danger"
              >Reserved</span
            >
            <span v-else class="text-success">Empty</span>
          </div>
        </div>
        <!-- seats -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Reserved",
  data() {
    return {
      movies: [],
      reserved: [],
    };
  },
  components: {},
  created() {
    this.$store.dispatch("getMoviesReq").then((res) => {
      this.movies = res;
    });
    this.reserved = this.$store.getters.getReserved;
  },
  computed: {},
  methods: {
    isReserved(movieId, ticket) {
      return this.$store.getters.getReservedSeat(movieId, ticket);
    },
  },
};
</script>
<style scoped>
.custom-list {
  padding: 3rem;
}
.img-thumbnail {
  height: 100px !important;
  margin-right: 1rem;
  object-fit: cover;
  object-position: center;
  /* margin: auto !important; */
}
@media screen and (max-width: 400px) {
  .custom-list {
    padding: 0 !important;
  }
}
</style>
