<template>
  <div class="bg-dark bg-gradient p-5" style="height: 75vh">
    <h3 class="text-light text-center">Choose Your Seat</h3>
    <div class="theatre">
      <div class="cinema-seats left">
        <div class="cinema-row row-1">
          <div class="seat" v-for="i in 5" :key="i" @click="reserve(i)">
            {{ i }}
          </div>
        </div>

        <div class="cinema-row row-2">
          <div
            class="seat"
            v-for="i in 15"
            v-show="i > 10"
            :key="i"
            @click="reserve(i)"
          >
            {{ i }}
          </div>
        </div>

        <div class="cinema-row row-5">
          <div
            class="seat unreservable"
            v-for="i in 25"
            v-show="i > 20"
            :key="i"
          >
            {{ i }}
          </div>
        </div>

        <div class="cinema-row row-6">
          <div
            class="seat unreservable"
            v-for="i in 35"
            v-show="i > 30"
            :key="i"
          >
            {{ i }}
          </div>
        </div>
      </div>
      <div class="cinema-seats right">
        <div class="cinema-row row-1">
          <div
            class="seat"
            v-for="i in 10"
            v-show="i > 5"
            :key="i"
            @click="reserve(i)"
          >
            {{ i }}
          </div>
        </div>

        <div class="cinema-row row-2">
          <div
            class="seat"
            v-for="i in 20"
            v-show="i > 15"
            :key="i"
            @click="reserve(i)"
          >
            {{ i }}
          </div>
        </div>

        <div class="cinema-row row-3">
          <div
            class="seat unreservable"
            v-for="i in 30"
            v-show="i > 25"
            :key="i"
          >
            {{ i }}
          </div>
        </div>

        <div class="cinema-row row-4">
          <div
            class="seat unreservable"
            v-for="i in 40"
            v-show="i > 35"
            :key="i"
          >
            {{ i }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Tickets",
  data() {
    return {};
  },
  components: {},
  methods: {
    reserve(number) {
      this.$swal
        .fire({
          title: "Do you want to Reserve Seat Number " + number + "?",
          showCancelButton: true,
          confirmButtonText: "RESERVR",
        })
        .then((result) => {
          if (result.isConfirmed) {
            //reserve seat
            let seat = {
              phone: this.$store.getters.getUser.phone,
              movieId: this.$route.params.id,
              ticket: number,
            };
            this.$store
              .dispatch("reserve", {
                seat: seat,
              })
              .then((res) => {
                if (res) {
                  //ticket saved successfully
                  this.$swal
                    .fire("Your Seat Reserved successfully")
                    .then(() => {
                      this.$router.push("/");
                    });
                } else {
                  //ticket already taken
                  this.$swal.fire(
                    "Sorry! This seat has been already taken. PLEASE Choose another one"
                  );
                }
              });
          }
        });
    },
  },
};
</script>
<style scoped>
.theatre {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cinema-seats {
  display: flex;
}
.cinema-seats .seat {
  cursor: pointer;

  text-align: center;
  color: white;
}
.cinema-seats .seat:hover:before,
.cinema-seats .seat.unreservable::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
.cinema-seats .seat.unreservable {
  pointer-events: none;
}
.cinema-seats .seat.active:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
}

.left .cinema-row {
  transform: skew(-15deg);
  margin: 0 6px;
}
.left .seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #b54041,
    #f3686a
  );
  margin-bottom: 10px;
  transform: skew(20deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.left .row-2 {
  transform: skew(-13deg);
}
.left .row-2 .seat {
  transform: skew(18deg);
}
.left .row-3 {
  transform: skew(-12deg);
}
.left .row-3 .seat {
  transform: skew(16deg);
}
.left .row-4 {
  transform: skew(-11deg);
}
.left .row-4 .seat {
  transform: skew(15deg);
}
.left .row-5 {
  transform: skew(-10deg);
}
.left .row-5 .seat {
  transform: skew(12deg);
}
.left .row-6 {
  transform: skew(-9deg);
}
.left .row-6 .seat {
  transform: skew(10deg);
}
.left .row-7 {
  transform: skew(-7deg);
}
.left .row-7 .seat {
  transform: skew(8deg);
}

.right {
  margin-left: 70px;
}
.right .cinema-row {
  transform: skew(7deg);
  margin: 0 6px;
}
.right .seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #b54041,
    #f3686a
  );
  margin-bottom: 10px;
  transform: skew(-8deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.right .row-2 {
  transform: skew(9deg);
}
.right .row-2 .seat {
  transform: skew(-10deg);
}
.right .row-3 {
  transform: skew(10deg);
}
.right .row-3 .seat {
  transform: skew(-12deg);
}
.right .row-4 {
  transform: skew(11deg);
}
.right .row-4 .seat {
  transform: skew(-15deg);
}
.right .row-5 {
  transform: skew(12deg);
}
.right .row-5 .seat {
  transform: skew(-16deg);
}
.right .row-6 {
  transform: skew(13deg);
}
.right .row-6 .seat {
  transform: skew(-18deg);
}
@media screen and (max-width: 500px) {
  .right {
    margin-left: 30px;
  }
  .left .seat,
  .right .seat {
    width: 20px;
    height: 35px;
    font-size: 10px;
    padding-top: 5px;
    margin-top: -23px;
  }
}
</style>
