<template>
  <div class="card movie col-lg-2" style="width: 18rem">
    <img
      :src="data.cover"
      class="card-img-top"
      :alt="data.title"
      height="300px"
    />
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-title">{{ data.title }}</h5>
        <span style="color: var(--bs-yellow)">{{ data.publishYear }}</span>
      </div>
      <p>{{ data.releaseDate }} - {{ data.releaseTime }}</p>
      <button
        class="btn btn-dark"
        @click="$router.push({ name: 'Tickets', params: { id: data.id } })"
      >
        RESERVE
      </button>
    </div>
  </div>
</template>
<script>
export default {
  props: ["data"],
};
</script>
<style scoped>
.movie {
  padding: 0 !important;
}
.movie img {
  object-fit: cover;
  object-position: center;
}
.movie .card-body {
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
</style>
