<template>
  <div id="app">
    <Header></Header>
    <transition enter-active-class="animated fadeIn">
      <router-view />
    </transition>
    <Footer></Footer>
  </div>
</template>
<script>
import Header from "@/views/layouts/Header.vue";
import Footer from "@/views/layouts/Footer.vue";
export default {
  components: { Header, Footer },
};
</script>
