<template>
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <div>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <router-link tag="a" class="nav-link" to="/">Home</router-link>
              </li>
              <li class="nav-item active">
                <router-link tag="a" class="nav-link" to="/reserved"
                  >Reserved Seats</router-link
                >
              </li>
            </ul>
          </div>
        </div>

        <!-- logout -->
        <button class="btn btn-warning" @click="logout">
          logout
          <i class="fa fa-sign-out"></i>
        </button>
        <!-- logout -->
      </div>
    </nav>
    <!-- Navbar -->
  </header>
</template>
<script>
export default {
  name: "Header",
  methods: {
    logout() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/auth");
      });
    },
  },
};
</script>
